@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {


    input[type="text"].search{
        

    }
    .video{
        iframe{

        }
    }
    .main{
        padding: 10px 16px;
    }

    .playlist_item{
        .info{
            width: 248px;
        }
    }
    .button.share{
        margin-top:10px;
    }
    .button.share:active{
        margin-top:11px;
    }
    .video{
        iframe{
            width:100%;
            height: 244px;
            float:left;
        }
    }
    .settings{
        margin-left:0px;
        margin-bottom:10px;
    }
    .pull-right{
        float:right;
    }
}