html,body{
    height: 100%;
    margin:0px;
    padding:0px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#content {
    min-height: 100%;
 }
#wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.video-player{
    margin-top:20px;
    border-radius: 5px;
    border:1px solid #e7e7e7;
    padding:10px;
    margin-bottom:20px;
}
.video-player .title{
    width:100%;
    font-size:20px;
    font-weight:700;
}
.video-player .subtitle{
    width:100%;
    font-size:18px;
}
.video-player .video-id{
    display:none;
}
.video-player .player{
    position:relative;
}
.video-player iframe{
    width:100%;
}
.video-player .overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:white url(../img/ballista.jpg) center center no-repeat;
    background-size:auto 100%;
    opacity:0.4;
}

ul.autocomplete{
    width:96%;
    left:15px;
    margin-top:0px;
}
ul.autocomplete li{
    width:100%;
    padding:1px 10px;
    float:left;
    cursor:pointer;
}
ul.autocomplete li:hover{
    background-color: #f8f8f8;
}
ul.autocomplete li img{
    float:left;
    margin-right:10px;
    height:40px;width:60px;
}
ul.autocomplete li .title{
    line-height:30px;
    float:left;
}
.playlist-title{
    width:100%;
    font-size:20px;
    font-weight:700;
}
.video-box{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: #f8f8f8;
    border:1px solid #e7e7e7;
    width:100%;
    padding:10px;
    border:1px #423423 solid;
    border-radius:5px;
    float:left;
    margin-bottom:5px;
}
.video-box .title{
    float:right;
    width:60%;
    font-size:15px;
    font-weight:700;
}
.video .likes{
    float:right;
    width:60%;
    color:blue;
    font-size:15px;
}
.video-box .addlike{
    cursor:pointer;
}
.video-box img{
    float:left;
    border:1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:2px;
    width:35%;
    margin-right:5%;
}
/*login*/
.login-menu{
    width:100%;
    min-width:280px;
    padding:20px;

}