html,body{
    height: 100%;
    margin:0px;
    padding:0px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:20px;
}
#content {
    min-height: 100%;
 }
#wrap{
    min-height: 100%;
    height: auto;
    margin: -72px auto -80px;
    padding: 72px 0 80px;
}

.video-player{
    margin-top:20px;
    border-radius: 5px;
    border:1px solid #e7e7e7;
    padding:10px;
    margin-bottom:20px;
    position:relative;
}
.video-player .title{
    width:100%;
    font-size:20px;
    font-weight:700;
}
.video-player .subtitle{
    width:100%;
    font-size:18px;
}
.video-player .video-id{
    display:none;
}
.video-player .player{
    position:relative;
}
.video-player iframe{
    width:100%;
}
.video-player .overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    opacity:0;
    cursor:pointer;
}
.video-player .overlay.play{
    background: white url('../img/play.png') center no-repeat;
}
.video-player .overlay.pause{
    background: white url('../img/pause.png') center no-repeat;
    opacity:0.4;
}
.video-player .overlay.mute{
    background: white url('../img/mute.png') center no-repeat;
}
.video-player .overlay.unmute{
    background: white url('../img/unmute.png') center no-repeat;
    opacity:0.4;
}
.video-player .overlay:hover{
    opacity:0.4;
}
.search{
    position:relative;
    width:100%;
}
ul.autocomplete{
    width:100%;
    margin-top:0px;
    overflow-y: scroll;
    height: 428px;
}
ul.autocomplete li{
    width:100%;
    padding:1px 10px;
    float:left;
    cursor:pointer;
}
ul.autocomplete li:hover,ul.autocomplete li.active{
    background-color: #f8f8f8;
}
ul.autocomplete li img{
    float:left;
    margin-right:10px;
    height:40px;width:60px;
}
ul.autocomplete li .title{
    line-height:30px;
    float:left;
}
.playlist-title{
    width:100%;
    font-size:20px;
    font-weight:700;
}
.video-box{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: #f8f8f8;
    width:100%;
    padding:10px;
    border-radius:5px;
    margin-bottom:5px;
    position:relative;
}
.video-box.second{
    background-color: #e7e7e7;
}
.video-box .title{
    display:inline-block;
    width:60%;
    font-size:15px;
    font-weight:700;
}
.video .likes{
    display:inline-block;
    width:60%;
    color:blue;
    font-size:15px;
}
.video-box .video-right{
    display:inline-block;
}
.video-box .addlike{
    cursor:pointer;
}
.video-box img{
    display:inline-block;
    border:1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:2px;
    width:35%;
    margin-right:5%;
    vertical-align:top;
}
/*login*/
.login-menu{
    width:100%;
    min-width:280px;
    padding:20px;

}
.close-button{
    position:absolute;
    width: 20px;
    height: 20px;
    right:-10px;
    top:-10px;
    background:url('../img/close-button.png');
    background-size: 20px 20px;
    cursor:pointer;
}

.sidebox{
    margin-top:20px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}
.sidebox .header{
    background-color: #e7e7e7;
    float:left;
    width:100%;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.sidebox ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.sidebox li{
    border-bottom: 1px solid #ddd;
    width:100%;
    padding-left:20px;
    line-height:30px;
}
.sidebox li:last-child{
    border-bottom:none;
}
.send-icon{
    background-image:url('../img/send.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:15px 15px;
    height:34px;
}

.chat-container{
    position:relative;
    width: 100%;
    height:200px;
    overflow-y:scroll;
}
.chat-container ul{
    position:relative;
    width: 100%;

}
